DATABASE_URL=postgresql+asyncpg://postgres@localhost:5432/blogdb
SECRET_KEY=dev-secret-change-me
CLOUDINARY_CLOUD_NAME=qtcyxptv
CLOUDINARY_API_KEY=637946757755496
CLOUDINARY_API_SECRET=hh2MrNprGvGILJUvC-rxCw1qbio